.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.header-list{
    display: flex;
    align-items: center;
}
.header-item{
    margin-right: 60px;
    &:nth-child(3){
        margin-right: 0;
    }
}
.header-item-link:hover{
    font-weight: 700;
}
header-hr{
    background-color: rgba(128, 128, 128, 0.329);
    border: none;
    height: 1px;
}